// Banner
.banner {
  min-height: 340px;
  background: url(../img/banner.jpg) 0 0 no-repeat $darkest-grey;
  background-size: cover;
  color: $white;
  position: relative;
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    @include background-alpha($black, 80%);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
  }
  margin-bottom: 1px;
  @include breakpoint(m) {
    min-height: 400px;
  }
  @include breakpoint(l) {
    min-height: 500px;
  }
}
.banner-inner {
  position: relative;
  z-index: 100;
  padding-top: 160px;
  padding-bottom: 40px;
  @include breakpoint(m) {
    padding-top: 180px;
  }
  @include breakpoint(l) {
    padding-top: 280px;
  }
}
.banner-heading { color: $white; }
.banner-button {
  padding: 12px 40px 12px 15px;
  position: relative;
  &:after {
    content: "";
    width: 10px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -7px;
    background: url(../img/right-chevron.svg) 50% 50% no-repeat;
    background-size: cover;
  }
}
.banner-content {
  width: 75%;
  @include breakpoint(m) {
    width: 300px;
  }
  @include breakpoint(l) {
    width: 320px;
  }
}