// Header
.header {
  background: $darkest-grey;
  padding-top: 20px;
  padding-bottom: 20px;
  @include breakpoint(m) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
// Logo
.logo {
  width: 225px;
  height: 60px;
  display: block;
  background: url(../img/nelusoana.svg) 50% 50% no-repeat;
  transition: all .2s;
  @include breakpoint(m) {
    float: left;
  }
  &:hover { opacity: .8; }
}
// Menu
.menu {
  list-style: none;
  margin: 0;
  padding: 20px 0 0 0;
  @include breakpoint(m) {
    padding: 26px 0 0 0;
    float: right;
  }
  & > li {
    display: inline-block;
    margin: 0 20px 0 0;
    & > a {
      color: $light-grey;
      text-decoration: none;
      transition: all .2s;
      &:hover {
        color: $white;
      }
    }
  }
}