// Header
.header {
  background: $darkest-grey;
}
// Logo
.logo {
  width: 120px;
  height: 80px;
  display: block;
  background: url(../img/nelusoana.svg) 50% 50% no-repeat;
  transition: all .2s;
  @include breakpoint(m) {
    float: left;
  }
  &:hover { opacity: .8; }
}
// Menu
.menu {
  @include font-size(12);
  @include line-height(18);
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0 0 20px 0;
  @include breakpoint(m) {
    padding: 35px 0 0 0;
    float: right;
  }
  & > li {
    display: inline-block;
    margin: 0 20px 0 0;
    & > a {
      color: $light-grey;
      text-decoration: none;
      transition: all .2s;
      &:hover {
        color: $white;
      }
    }
  }
}