// Banners

.image-banner {
  background: $dark-blue;
  min-height: 80px;
  @include breakpoint(m) {
    min-height: 1100px;
  }
  @include breakpoint(l) {
    min-height: 800px;
  }

}

.about-image-banner {
  background: url(../img/3.jpg) 0 0 no-repeat;
  background-size: cover;
}

