// Website Variables and Colours
$base-font-family: "Source Sans Pro";

$black: #000;
$white: #fff;
$red: #db3333;
$dark-blue: #01259f;
$darkest-grey: #111;
$light-grey: #ccc;

$base-font-size: 16;
$base-line-height: 22;